apiVersion: v1
kind: ConfigMap
metadata:
  name: env
data:
  # REDIS
  REDIS_URL: "redis://localhost:6379"
  
  # DB
  DATABASE_HOST: "localhost"
  DATABASE_PORT: "5432"
  DATABASE_USERNAME: "postgres"
  DATABASE_PASSWORD: ""
  DATABASE_NAME: "dawarich_production"

  # APP
  RAILS_ENV: "production"
  APPLICATION_HOSTS: "localhost,dawa.change.me"
  DOMAIN: "dawa.change.me"
  TIME_ZONE: "America/Caracas"
  APPLICATION_PROTOCOL: "http"
  SECRET_KEY_BASE: ""
  SELF_HOSTED: "true"
  STORE_GEODATA: "true"
  RAILS_LOG_TO_STDOUT: "true"
  DAWARICH_APP_PORT: "3000"
