apiVersion: v1
kind: ConfigMap
metadata:
  name: env
data:
  DOZZLE_HOSTNAME: "monitor"
  DOZZLE_REMOTE_AGENT: "data.lxc:7007,personal.lxc:7007,media.lxc:7007,home.lxc:7007"
  DOZZLE_NO_ANALYTICS: "true"

  # Container Security Options
  DOZZLE_ENABLE_SHELL: "false"
  DOZZLE_ENABLE_ACTIONS: "false"
  
