apiVersion: v1
kind: ConfigMap
metadata:
  name: env
data:
  # UID/GID Alignment for unprivileged containers
  HERMES_UID: "1993"
  HERMES_GID: "1993"
  HERMES_WRITE_SAFE_ROOT: "/workspace"
  
  # Gateway Server Configuration
  API_SERVER_ENABLED: "true"
  API_SERVER_HOST: "127.0.0.1"
  API_SERVER_PORT: "8642"
  API_SERVER_KEY: "MIN_8_CHARS"

  # Dashboard
  HERMES_DASHBOARD: "1"
  HERMES_DASHBOARD_SESSION_TOKEN: ""
  HERMES_DASHBOARD_BASIC_AUTH_USERNAME: ""
  HERMES_DASHBOARD_BASIC_AUTH_PASSWORD: ""
  
  # Skills
  OBSIDIAN_VAULT_PATH: "/workspace/obsidian"

  # Server
  TZ: "America/Caracas"

  # Obscura Plugin
  OBSCURA_CDP_URL: "http://127.0.0.1:9222"

  # Proxy
  ANTHROPIC_BASE_URL: "http://127.0.0.1:9090/v1"
  ANTHROPIC_API_KEY: ""

  # Telegram
  TELEGRAM_BOT_TOKEN: ""
  TELEGRAM_ALLOWED_USERS: ""
  TELEGRAM_HOME_CHANNEL: ""
  TELEGRAM_HOME_CHANNEL_THREAD_ID: ""

  # Whatsapp
  WHATSAPP_MODE: "self-chat"
  WHATSAPP_ALLOWED_USERS: ""
  WHATSAPP_ENABLED: "true"
  WHATSAPP_REPLY_PREFIX: "⚕ *Qwerty Agent*\n────────────\n"
  WHATSAPP_HOME_CHANNEL: ""
  WHATSAPP_HOME_CHANNEL_THREAD_ID: ""

  # Cloud Providers
  OPENROUTER_API_KEY: ""
  GEMINI_API_KEY: ""
  DEEPSEEK_API_KEY: ""
  XIAOMI_API_KEY: ""
  
  # Exa Web Search/Extract
  EXA_API_KEY: ""
  # To avoid country restrictions via ts VM reverse proxy
  # Agent must patch provider.py plugin code to accept this
  # Reference: https://github.com/exa-labs/exa-py/blob/7537a5ebc4175143e3a582eb0f9239d3a1bbf311/exa_py/api.py https://github.com/NousResearch/hermes-agent/blob/main/plugins/web/exa/provider.py
  EXA_BASE_URL: "http://googol.ts:8080"
