apiVersion: v1
kind: ConfigMap
metadata:
  name: env
data:
  COMPOSE_PROJECT_NAME: "paperless"
  PAPERLESS_URL: "https://paper.change.me"
  
  PAPERLESS_REDIS: "redis://localhost:6379"
  PAPERLESS_DBENGINE: "postgresql"
  PAPERLESS_DBUSER: "paperless"
  PAPERLESS_DBPASS: ""
  PAPERLESS_DBNAME: "paperless"
  PAPERLESS_DBHOST: "localhost"

  PAPERLESS_OCR_LANGUAGE: "spa"

  PAPERLESS_TIME_ZONE: "America/Caracas"

  USERMAP_UID: "0"
  USERMAP_GID: "0"

  PAPERLESS_SECRET_KEY: ""

  PAPERLESS_FILENAME_FORMAT: "{{ owner_username }}/{{ doc_pk }}_{{ original_name }}"
