apiVersion: v1
kind: ConfigMap
metadata:
  name: env
data:
  # Komga
  TZ: "America/Caracas"
  SERVER_PORT: "25600"
  KOMGA_CORS_ALLOWEDORIGINS: "https://komf.change.me,https://komga.change.me"

  # Komf
  KOMF_KOMGA_BASE_URI: "http://localhost:25600"
  KOMF_KOMGA_USER: "admin@change.me"
  KOMF_KOMGA_PASSWORD: "change-me"
  KOMF_METADATA_PROVIDERS_COMIC_VINE_API_KEY: ""
