apiVersion: v1
kind: ConfigMap
metadata:
  name: env
data:
  # Permissions
  UID: "0"
  GID: "0"
  EULA: "TRUE"

  # Performance
  MAX_MEMORY: "3G"
  INIT_MEMORY: "1G"
  USE_AIKAR_FLAGS: "true"
  USE_MEOWICE_FLAGS: "true"

  # General
  TZ: "America/Caracas"
  STOP_SERVER_ANNOUNCE_DELAY: "10"
  LOG_TIMESTAMP: "true"
  ICON: ""
  OVERRIDE_ICON: true

  # Game
  TYPE: "FORGE"
  VERSION: "1.20.1"
  FORGE_VERSION: "47.4.21"
  DIFFICULTY: "2"
  MODE: "survival"
  MOTD: "§6Unimetanos §7- §c404 Block Not Found"

  # Autopause (pause Java process when idle)
  ENABLE_AUTOPAUSE: "true"
  AUTOPAUSE_TIMEOUT_EST: "1800"
  AUTOPAUSE_TIMEOUT_INIT: "600"
  AUTOPAUSE_TIMEOUT_KN: "120"
  MAX_TICK_TIME: "-1"

  # Administration
  MAX_PLAYERS: "5"
  ONLINE_MODE: "false"
  ENABLE_WHITELIST: "true" # use rcon-cli "whitelist add <username>"
