apiVersion: v1
kind: ConfigMap
metadata:
  name: env
data:
  DOMAIN: "https://vault.change.me"
  ROCKET_PORT: "8080"
  SIGNUPS_ALLOWED: "false"
  INVITATIONS_ALLOWED: "false"
  ADMIN_TOKEN: "" # ARGON2 TOKEN
  ICON_BLACKLIST_NON_GLOBAL_IPS: "false"
