{
	admin
	servers {
		trusted_proxies static 127.0.0.1 ::1 100.64.0.0/10
	}
}

# Only admins, uptime monitor and gateway have access to hosts with this snippet
(only_admin) {
	@not_admin not remote_ip {args[:]} {$IP_GATEWAY} {$IP_MONITOR} {$IP_PC} {$IP_MOBILE} {$IP_TS_PC} {$IP_TS_MOBILE}
	abort @not_admin
}

# Only local networks and Tailscale have access to hosts with this snippet
(only_local) {
	@not_local not remote_ip 127.0.0.1 ::1 10.0.0.0/16 192.168.0.0/24 100.64.0.0/10
	abort @not_local
}

# Remote
*.{$DOMAIN} {
	encode zstd gzip

	tls {
		dns cloudflare {env.CLOUDF_DNS_ZONE_TOKEN}
	}

	@not_embed {
		not path /embed/*
	}
	header @not_embed X-Frame-Options "SAMEORIGIN"

	header {
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Strict-Transport-Security "max-age=31536000;"
		defer
	}

	# Host
	@proxmox host pxm.{$DOMAIN}
	handle @proxmox {
		import only_admin
		reverse_proxy {$IP_HOST}:8006 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	# Gateway LXC
	@dns host dns.{$DOMAIN}
	handle @dns {
		import only_admin
		reverse_proxy localhost:8080
	}

	# Data LXC
	@paper host paper.{$DOMAIN}
	handle @paper {
		reverse_proxy {$IP_DATA}:8000 {
			flush_interval -1
		}
		request_body {
			max_size 512MB
		}
	}

	@paper-gpt host paper-gpt.{$DOMAIN}
	handle @paper-gpt {
		import only_admin
		reverse_proxy {$IP_DATA}:8080
	}

	@immich host immich.{$DOMAIN}
	handle @immich {
		reverse_proxy {$IP_DATA}:2283 {
			flush_interval -1
		}
	}

	@kara host kara.{$DOMAIN}
	handle @kara {
		reverse_proxy {$IP_DATA}:3000 {
			flush_interval -1
		}
	}

	# Monitor LXC
	@uptime host uptime.{$DOMAIN}
	handle @uptime {
		import only_admin {$IP_BACKUP}
		reverse_proxy {$IP_MONITOR}:3001
	}

	@dozzle host dozzle.{$DOMAIN}
	handle @dozzle {
		import only_admin
		reverse_proxy {$IP_MONITOR}:8080
	}

	# Personal LXC
	@vault host vault.{$DOMAIN}
	handle @vault {
		import only_local
		reverse_proxy {$IP_PERSONAL}:8080 {
			header_up X-Real-IP {remote_host} # Vault uses this instead of X-Forwarded-For
		}
	}

	@tools host tools.{$DOMAIN}
	handle @tools {
		import only_admin
		reverse_proxy {$IP_PERSONAL}:8082
	}

	@obsidian-sync host obsidian-sync.{$DOMAIN}
	handle @obsidian-sync {
		@fauxton path /_utils*
		handle @fauxton {
			import only_admin
			reverse_proxy {$IP_PERSONAL}:5984
		}

		handle {
			reverse_proxy {$IP_PERSONAL}:5984
		}
	}

	@hermes host hermes.{$DOMAIN}
	handle @hermes {
		reverse_proxy {$IP_PERSONAL}:9119 {
			flush_interval -1
		}
	}

	@hermes-proxy host hermes-proxy.{$DOMAIN}
	handle @hermes-proxy {
		import only_admin
		reverse_proxy {$IP_PERSONAL}:9090
	}

	# Media LXC
	@cap host cap.{$DOMAIN}
	handle @cap {
		reverse_proxy {$IP_MEDIA}:3000 {
			flush_interval -1
		}
	}
	@jelly host jelly.{$DOMAIN}
	handle @jelly {
		reverse_proxy {$IP_MEDIA}:8096 {
			flush_interval -1
		}
	}
	@s3 host s3.{$DOMAIN}
	handle @s3 {
		reverse_proxy {$IP_MEDIA}:9000 {
			flush_interval -1
		}
	}
	@minio host minio.{$DOMAIN}
	handle @minio {
		import only_admin
		reverse_proxy {$IP_MEDIA}:9001
	}

	# Home LXC
	@ha host ha.{$DOMAIN}
	handle @ha {
		reverse_proxy {$IP_HOME}:8123
	}

	# Fallback
	@health host health.{$DOMAIN}
	handle @health {
		respond `OK` 200
	}

	handle {
		redir https://health.{$DOMAIN}
	}

	handle_errors {
		respond `Check server or service status and try again.` {err.status_code}
	}
}
