apiVersion: v1
kind: ConfigMap
metadata:
  name: env
data:
  # URLs
  DATABASE_URL: "mysql://cap:nonroot-password@127.0.0.1:3306/cap"
  CAP_URL: "https://cap.change.me"
  WEB_URL: "https://cap.change.me"
  NEXTAUTH_URL: "https://cap.change.me"

  # ANALYTICS
  TINYBIRD_ADMIN_TOKEN: ""
  TINYBIRD_TOKEN: ""

  # SECRETS
  DATABASE_ENCRYPTION_KEY: ""
  NEXTAUTH_SECRET: ""

  # S3
  CAP_AWS_ACCESS_KEY: ""
  CAP_AWS_SECRET_KEY: ""
  CAP_AWS_BUCKET: "cap"
  CAP_AWS_REGION: "us-east-1"
  S3_PUBLIC_ENDPOINT: "https://s3.change.me"
  S3_INTERNAL_ENDPOINT: "http://localhost:9000"
  S3_PATH_STYLE: "true"

  # EMAIL
  RESEND_API_KEY: ""
  RESEND_FROM_DOMAIN: ""

  # MEDIA SERVER
  MEDIA_SERVER_URL: "http://localhost:3456"
  MEDIA_SERVER_WEBHOOK_URL: "http://localhost:3000"
  MEDIA_SERVER_WEBHOOK_SECRET: ""

  # DB
  MYSQL_DATABASE: "cap"
  MYSQL_USER: "cap"
  MYSQL_PASSWORD: ""
  MYSQL_ROOT_PASSWORD: ""

  # MINIO
  MINIO_ROOT_USER: ""
  MINIO_ROOT_PASSWORD: ""
