# AWS S3
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=

# RESTIC
export RESTIC_REPOSITORY=
export RESTIC_PASSWORD=

# PERFORMANCE
export GOMAXPROCS=1
export RESTIC_PACK_SIZE=128

# UPTIME KUMA
export KUMA_IMMICH_URL=
export KUMA_VAULT_URL=
